<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="four_wheels_robot">
        <gazebo reference="base_link">
            <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                <parameters>$(find four_wheels_robot)/config/wheels_controllers.yaml</parameters>
            </plugin>
        </gazebo>

        <!-- Optional sensors plugin -->
        <gazebo>
            <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
                <render_engine>ogre2</render_engine>
            </plugin>
        </gazebo>
    </xacro:macro>
</robot>